<div class="container">
  <app-current-width></app-current-width>

  <div container="0,500,300,400">this div</div>

  <br />

  <div container="custom,500,300,400">this a div with a custom class name</div>
</div>

<br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-current-width></app-current-width>
    </div>
    <div class="col"></div>
    <div class="col" style="margin: 0"></div>
  </div>
  <div class="row">
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col ms-auto" style="margin: 0">
      <div container="0,500,300,400">this div</div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col">
      <app-current-width></app-current-width>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col">
      <app-current-width></app-current-width>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
    <div class="col">
      <div container="0,500,300,400">this div</div>
    </div>
  </div>
</div>
